#dropdown-section {
    display: flex;
    flex-direction: row;
    @media #{$mobile} {
        flex-direction: column;
    }
    .btn-danger {
    background-color: $ustensils-color;
    width: 170px;
    height: 69px;
    border: none;
    font-size: 18px;
    &:focus {
        background-color: $ustensils-color;
    }
    &:hover {
        background-color: $ustensils-color;
    }
}
    .btn-primary {
        background-color: $ingredients-color;
        width: 170px;
        height: 69px;
        border: none;
        font-size: 18px;
        &:focus {
            background-color: $ingredients-color;
        }
        &:hover {
            background-color: $ingredients-color;
        }
    
    }
    .btn-success  {
        background-color: $appliances-color;
        width: 170px;
        height: 69px;
        font-size: 18px;
        border: none;
        &:focus {
            background-color: $appliances-color;
            outline: none;
        }
        &:hover {
            background-color: $appliances-color;
        }
    }
    
    .dropdown-ingredients  {
        background-color: $ingredients-color;
        color: white; 
        #searchbar_ingredients {
            border: none;
            background-color: $ingredients-color;
            color: white;
            font-size: 18px;
            margin: 1rem 0;
            margin-left: -1rem;
        }   
    }
    .dropdown-appliances {
        background-color: $appliances-color;
        color: white;
        #searchbar_appliances {
            border: none;
            background-color: $appliances-color;
            color: white;
            font-size: 18px;
            margin: 1rem 0;
            margin-left: -1rem;
        }
    }
    .dropdown-ustensils {
        background-color: $ustensils-color;
        color: white;
        #searchbar_ustensils {
            border: none;
            background-color: $ustensils-color;
            color: white;
            font-size: 18px;
            margin: 1rem 0;
            margin-left: -1rem;
        }
    }
    .dropdown-list {
        width: 40rem;
        font-size: 18px;
        column-count: 3;
        list-style-type: none;
        @media #{$mobile} {
            width: 20rem;
            column-count: 2;
        }
        li {
            margin-bottom: 0.5rem;
        }
    }
    .search-section-dropdown {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding-right: 2rem;
    }

    .form-control {
        width: 105%;
    }
    ::placeholder {
        font-size: 18px;
        color: #FFFFFF;
        opacity: 0.5;
        
    }
    // error search dropdown
    #error_ingredient {
        display: none;
        color: white;
        font-size: 18px;
        padding: 1rem;
        text-transform: none;
        margin-left: 1rem;
    }
    #error_appliances {
        display: none;
        color: white;
        font-size: 18px;
        padding: 1rem;
        text-transform: none;
        margin-left: 1rem;
    }
    #error_ustensils {
        display: none;
        color: white;
        font-size: 18px;
        padding: 1rem;
        text-transform: none;
        margin-left: 1rem;
    }
    .arrow {
        margin-left: 1rem;
    }
}

.dropdown-toggle::after {
    content: none;
}

.dropdown-animation {
    margin-top: -4.4rem;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

 .form-control:focus, .form-control:active {
    outline: none !important;
    box-shadow: none;
 }